
html, body {
	height: 100%;
}


.my-container {
	height: 100%;
	width: auto;
}

#macbook {


    background: url("http://jasonnatividad.net/images/mbp.png") no-repeat;
    background-size: 95% 95%;
    background-position: top;
    height: 85vh;


  

}

.coleman {
    	padding: 5%;
    	float: none;
    	margin: auto 0;
    }

footer {
    width: 100%;
    height: 100px;
    background-color: #BFBFBF;
    clear: both;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 40px 10px 0 0;
}

#copyright {
    text-align: center;
}

#pages {
    margin: 5%;
}

.list-title {
    font-size: 2em;
}